.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid #fff;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  background-color: rgb(255, 255, 253, 0.3);
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

@media (max-width: 960px) {
  .btn {
    display: none;
  }
}
