.dropdown-menu {
  width: 20rem;
  position: absolute;
  top: 8rem;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgba(218, 118, 218, 0.7);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: purple;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem;
}

@media (max-width: 960px) {
  .arrow-down {
    display: none;
  }
}
