@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: #fff;
}
.home,
.about,
.price,
.locations,
.blog,
.sign-up,
.tokyo,
.newyork,
.hamburg,
.paris {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.about {
  background-image: url('./images/about.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.price {
  background-image: url('./images/price.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.locations {
  background-image: url('./images/locations.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.blog {
  background-image: url('./images/blog.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.sign-up {
  background-image: url('./images/sign-up.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.tokyo {
  background-image: url('./images/tokyo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.newyork {
  background-image: url('./images/newyork.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.hamburg {
  background-image: url('./images/hamburg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}

.paris {
  background-image: url('./images/paris.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 10rem;
}
